
{% extends "layout.html" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block pageTitle %}
  {{serviceName}}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Trainees
      </h1>


      {{ govukButton({
        text: "Add a trainee",
        href: "new-trainee"
      }) }}

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      {{ govukTable({
        caption: "All trainees",
        captionClasses: "govuk-heading-m",
        firstCellIsHeader: true,
        head: [
          {
            text: "Trainee ID"
          },
          {
            text: "Start date"
          },
          {
            text: "Programme"
          },
          {
            text: "Sponsoring company"
          },
          {
            text: "Status"
          }
        ],
        rows: [
          [
            {
              html: "<a href='trainee-unconfirmed'>TRA008365</a>"
            },
            {
              text: "20 Oct 2020"
            },
            {
              text: "Sem Magna"
            },
            {
              text: "Tortor Inceptos Ltd"
            },
            {
              html: "<strong class='govuk-tag govuk-tag--red'>unconfirmed</strong>"
            }
          ],
          [
            {
              html: "<a href='trainee-confirmed'>TRA008366</a>"
            },
            {
              text: "20 Oct 2020"
            },
            {
              text: "Sem Magna"
            },
            {
              text: "Tortor Inceptos Ltd"
            },
            {
              html: "<strong class='govuk-tag govuk-tag--green'>confirmed</strong>"
            }
          ]
        ]
      }) }}


    </div>
  </div>

{% endblock %}
