
{% extends "layout.html" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {{serviceName}} - Anglo Eastern (UK) Ltd
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    navigation: [
      {
        href: "#",
        text: "Claims",
        active: true
      },
      {
        href: "cadets-tp",
        text: "Cadets"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Claims - Anglo Eastern (UK) Ltd
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">

      <div class="filter-section">

        <h1 class="govuk-heading-s">
          Filter claims by:
        </h1>

        {{ govukSelect({
          id: "programme",
          name: "programme",
          label: {
            text: "Programme"
          },
          items: [
            {
              value: "Fringilla Dolor Cras Vulputate",
              text: "Fringilla Dolor Cras Vulputate",
              selected: true
            },
            {
              value: "Malesuada Porta Parturient",
              text: "Malesuada Porta Parturient"
            }
          ]
        }) }}

        {{ govukSelect({
          id: "route",
          name: "route",
          label: {
            text: "Route"
          },
          items: [
            {
              value: "Ultricies Porta Tristique Egestas",
              text: "Ultricies Porta Tristique Egestas",
              selected: true
            },
            {
              value: "Magna Sollicitudin Ultricies",
              text: "Magna Sollicitudin Ultricies"
            }
          ]
        }) }}

        {{ govukSelect({
          id: "no-of-trainees-per-programme",
          name: "no-of-trainees-per-programme",
          label: {
            text: "Number of trainees per programme"
          },
          items: [
            {
              value: "1–10",
              text: "1–10",
              selected: true
            },
            {
              value: "11-20",
              text: "11-20"
            }
          ]
        }) }}

        {{ govukSelect({
          id: "no-of-trainees-per-route",
          name: "no-of-trainees-per-route",
          label: {
            text: "Number of trainees per route"
          },
          items: [
          {
            value: "1–10",
            text: "1–10",
            selected: true
          },
          {
            value: "11-20",
            text: "11-20"
          }
          ]
        }) }}

      </div>

      {{ govukButton({
        text: "Apply filters"
      }) }}

    </div>


    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m">Claims</h2>

      {{ govukTable({
        firstCellIsHeader: true,
        head: [
          {
            text: "Claim ID"
          },
          {
            text: "Claimant ID"
          },
          {
            text: "Amount",
            format: "numeric"
          }
        ],
        rows: [
          [
            {
              html: "<a href='provider'>SMT087737</a>"
            },
            {
              text: "QQ123456C"
            },
            {
              text: "£109,000",
              format: "numeric"
            }
          ],
          [
            {
              html: "<a href='provider'>SMT084629</a>"
            },
            {
              text: "QQ123456C"
            },
            {
              text: "£109,000",
              format: "numeric"
            }
          ],
          [
            {
              html: "<a href='provider'>SMT094777</a>"
            },
            {
              text: "QQ123456C"
            },
            {
              text: "£109,000",
              format: "numeric"
            }
          ]
        ]
      }) }}

      <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-9"><a href="#" class="govuk-link">Download all claims as an Excel spreadsheet</a></p>

    </div>

  </div>

{% endblock %}
