
{% extends "layout.html" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block pageTitle %}
  {{serviceName}}
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    navigation: [
      {
        href: "anglo-eastern-uk-ltd-tp",
        text: "Claims"
      },
      {
        href: "cadets-tp",
        text: "Cadets",
        active: true
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Cadets - Anglo Eastern (UK) Ltd
      </h1>

      {{ govukInput({
        label: {
          text: "Find a cadet by NI number",
          classes: "govuk-label--s",
          isPageHeading: false
        },
        id: "event-name",
        name: "event-name",
        classes: "govuk-input--width-10"
      }) }}

      {{ govukButton({
        text: "Find cadet"
      }) }}

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      {{ govukTable({
        caption: "All cadets",
        captionClasses: "govuk-heading-m",
        firstCellIsHeader: true,
        head: [
          {
            text: "Cadet ID"
          },
          {
            text: "Start date"
          },
          {
            text: "Programme"
          },
          {
            text: "Sponsoring company"
          },
          {
            text: "Status"
          }
        ],
        rows: [
          [
            {
              html: "<a href='cadet-unconfirmed'>QQ123456C</a>"
            },
            {
              text: "20 Oct 2020"
            },
            {
              text: "Sem Magna"
            },
            {
              text: "Tortor Inceptos Ltd"
            },
            {
              html: "<strong class='govuk-tag govuk-tag--red'>unconfirmed</strong>"
            }
          ],
          [
            {
              html: "<a href='cadet-confirmed'>QQ123457D</a>"
            },
            {
              text: "20 Oct 2020"
            },
            {
              text: "Sem Magna"
            },
            {
              text: "Tortor Inceptos Ltd"
            },
            {
              html: "<strong class='govuk-tag govuk-tag--green'>confirmed</strong>"
            }
          ]
        ]
      }) }}


      {{ govukButton({
        text: "Add a cadet",
        href: "new-cadet-tp"
      }) }}


    </div>
  </div>

{% endblock %}
