
{% extends "layout.html" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block pageTitle %}
  {{serviceName}}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Dashboard
      </h1>

      {{ govukTable({
        caption: "Training providers",
        captionClasses: "govuk-heading-m",
        firstCellIsHeader: true,
        head: [
          {
            text: "Name"
          },
          {
            text: "Status"
          },
          {
            text: "Overall claim",
            format: "numeric"
          },
          {
            text: "Threshold",
            format: "numeric"
          },
          {
            text: "Balance",
            format: "numeric"
          }
        ],
        rows: [
          [
            {
              html: "<a href='anglo-eastern-uk-ltd'>Anglo Eastern (UK) Ltd</a>"
            },
            {
              html: "<strong class='govuk-tag govuk-tag--green'>in credit</strong>"
            },
            {
              text: "£109,000",
              format: "numeric"
            },
            {
              text: "£500,000",
              format: "numeric"
            },
            {
              text: "£391,000",
              format: "numeric"
            }
          ],
          [
            {
              html: "<a href='#'>AW Crewing Services Ltd</a>"
            },
            {
              html: "<strong class='govuk-tag govuk-tag--red'>in debit</strong>"
            },
            {
              text: "£550,000",
              format: "numeric"
            },
            {
              text: "£500,000",
              format: "numeric"
            },
            {
              text: "-£50,000",
              format: "numeric"
            }
          ],
          [
            {
              html: "<a href='#'>V.Ships (UK) Ltd</a>"
            },
            {
              html: "<strong class='govuk-tag govuk-tag--green'>in credit</strong>"
            },
            {
              text: "£235,000",
              format: "numeric"
            },
            {
              text: "£500,000",
              format: "numeric"
            },
            {
              text: "£265,000",
              format: "numeric"
            }
          ],
          [
            {
              html: "<a href='#'>Carisbrooke Shipping Limited</a>"
            },
            {
              html: "<strong class='govuk-tag govuk-tag--grey'>balanced</strong>"
            },
            {
              text: "£500,000",
              format: "numeric"
            },
            {
              text: "£500,000",
              format: "numeric"
            },
            {
              text: "£0",
              format: "numeric"
            }
          ],
          [
            {
              html: "<a href='#'>Carnival plc Pool A</a>"
            },
            {
              html: "<strong class='govuk-tag govuk-tag--grey'>balanced</strong>"
            },
            {
              text: "£500,000",
              format: "numeric"
            },
            {
              text: "£500,000",
              format: "numeric"
            },
            {
              text: "£0",
              format: "numeric"
            }
          ],
          [
            {
              html: "<a href='#'>Carnival plc Pool B</a>"
            },
            {
              html: "<strong class='govuk-tag govuk-tag--grey'>balanced</strong>"
            },
            {
              text: "£500,000",
              format: "numeric"
            },
            {
              text: "£500,000",
              format: "numeric"
            },
            {
              text: "£0",
              format: "numeric"
            }
          ],
          [
            {
              html: "<a href='#'>Chiltern Maritime Ltd</a>"
            },
            {
              html: "<strong class='govuk-tag govuk-tag--grey'>balanced</strong>"
            },
            {
              text: "£500,000",
              format: "numeric"
            },
            {
              text: "£500,000",
              format: "numeric"
            },
            {
              text: "£0",
              format: "numeric"
            }
          ],
          [
            {
              html: "<a href='#'>Clyde Marine Training Limited</a>"
            },
            {
              html: "<strong class='govuk-tag govuk-tag--grey'>balanced</strong>"
            },
            {
              text: "£500,000",
              format: "numeric"
            },
            {
              text: "£500,000",
              format: "numeric"
            },
            {
              text: "£0",
              format: "numeric"
            }
          ],
          [
            {
              html: "<a href='#'>DFDS</a>"
            },
            {
              html: "<strong class='govuk-tag govuk-tag--grey'>balanced</strong>"
            },
            {
              text: "£500,000",
              format: "numeric"
            },
            {
              text: "£500,000",
              format: "numeric"
            },
            {
              text: "£0",
              format: "numeric"
            }
          ],
          [
            {
              html: "<a href='#'>James Fisher (Crewing Services) Limited</a>"
            },
            {
              html: "<strong class='govuk-tag govuk-tag--grey'>balanced</strong>"
            },
            {
              text: "£500,000",
              format: "numeric"
            },
            {
              text: "£500,000",
              format: "numeric"
            },
            {
              text: "£0",
              format: "numeric"
            }
          ],
          [
            {
              html: "<a href='#'>Maersk Crewing Limited</a>"
            },
            {
              html: "<strong class='govuk-tag govuk-tag--grey'>balanced</strong>"
            },
            {
              text: "£500,000",
              format: "numeric"
            },
            {
              text: "£500,000",
              format: "numeric"
            },
            {
              text: "£0",
              format: "numeric"
            }
          ],
          [
            {
              html: "<a href='#'>Merchant Navy Training Provider (MNTP)</a>"
            },
            {
              html: "<strong class='govuk-tag govuk-tag--grey'>balanced</strong>"
            },
            {
              text: "£500,000",
              format: "numeric"
            },
            {
              text: "£500,000",
              format: "numeric"
            },
            {
              text: "£0",
              format: "numeric"
            }
          ],
          [
            {
              html: "<a href='#'>Pentland Ferries Limited</a>"
            },
            {
              html: "<strong class='govuk-tag govuk-tag--grey'>balanced</strong>"
            },
            {
              text: "£500,000",
              format: "numeric"
            },
            {
              text: "£500,000",
              format: "numeric"
            },
            {
              text: "£0",
              format: "numeric"
            }
          ],
          [
            {
              html: "<a href='#'>Pritchard-Gordon (Tankers) Ltd</a>"
            },
            {
              html: "<strong class='govuk-tag govuk-tag--grey'>balanced</strong>"
            },
            {
              text: "£500,000",
              format: "numeric"
            },
            {
              text: "£500,000",
              format: "numeric"
            },
            {
              text: "£0",
              format: "numeric"
            }
          ],
          [
            {
              html: "<a href='#'>Serco (PNTL)</a>"
            },
            {
              html: "<strong class='govuk-tag govuk-tag--grey'>balanced</strong>"
            },
            {
              text: "£500,000",
              format: "numeric"
            },
            {
              text: "£500,000",
              format: "numeric"
            },
            {
              text: "£0",
              format: "numeric"
            }
          ],
          [
            {
              html: "<a href='#'>Shell Ship Management Ltd</a>"
            },
            {
              html: "<strong class='govuk-tag govuk-tag--grey'>balanced</strong>"
            },
            {
              text: "£500,000",
              format: "numeric"
            },
            {
              text: "£500,000",
              format: "numeric"
            },
            {
              text: "£0",
              format: "numeric"
            }
          ],
          [
            {
              html: "<a href='#'>Ship Safe Training Group Limited (SSTG)</a>"
            },
            {
              html: "<strong class='govuk-tag govuk-tag--grey'>balanced</strong>"
            },
            {
              text: "£500,000",
              format: "numeric"
            },
            {
              text: "£500,000",
              format: "numeric"
            },
            {
              text: "£0",
              format: "numeric"
            }
          ],
          [
            {
              html: "<a href='#'>Stena Line Ltd</a>"
            },
            {
              html: "<strong class='govuk-tag govuk-tag--grey'>balanced</strong>"
            },
            {
              text: "£500,000",
              format: "numeric"
            },
            {
              text: "£500,000",
              format: "numeric"
            },
            {
              text: "£0",
              format: "numeric"
            }
          ],
          [
            {
              html: "<a href='#'>Stream Marine Training Ltd</a>"
            },
            {
              html: "<strong class='govuk-tag govuk-tag--grey'>balanced</strong>"
            },
            {
              text: "£500,000",
              format: "numeric"
            },
            {
              text: "£500,000",
              format: "numeric"
            },
            {
              text: "£0",
              format: "numeric"
            }
          ]
        ]
      }) }}


    </div>
  </div>

{% endblock %}
